<!DOCTYPE html>
<html>
  {% include 'header' %}
  <body>
  {% include 'title' %}
  <section class='week source'>
    <h4>Source/Issues:</h4>
    <a href='https://github.com/manuel-io/adconv'>https://github.com/manuel-io/adconv</a>
  </section>
  <section class='week license'>
    <textarea style='margin:0px;'>{{ license }}</textarea>
  </section>
  </body>
</html>
