<!DOCTYPE html>
<html>
  {% include 'header' %}
  <body>
  {% include 'title' %}
  <section class='plot'>
    <img class='temperature' src='/humidity.png' />
  </section>
  <section class='plot'>
    <img class='temperature' src='/humidity_week.png' />
  </section>
  </body>
</html>
