<!DOCTYPE html>
<html>
  {% include 'header' %}
  <body>
  {% include 'title' %}
  <section class='plot'>
    <a href='/humidity.png' data-lightbox='h1' data-title='Humidity'>
      <img class='humidity' src='/humidity.png' />
    </a>
  </section>
  <section class='plot'>
    <a href='/humidity_week.png' data-lightbox='h1' data-title='Humidty'>
      <img class='humidity' src='/humidity_week.png' />
    </a>
  </section>
  {% include 'footer' %}
  </body>
</html>
