<!DOCTYPE html>
<html>
  {% include 'header' %}
  <body>
  {% include 'title' %}
    <section class='current'>
      <h2>{{ temperature }}° C</h2>
      <h3>Humidity: {{ humidity }}%</h3>
    </section>
  </body>
</html>
