<!DOCTYPE html>
<html>
  {% include 'header' %}
  <body>
  {% include 'title' %}
    <section class='plot'>
      <img class='light' src='/light.png' />
    </section>
    <section class='plot'>
      <img class='light' src='/light_week.png' />
    </section>
  </body>
</html>
