<!DOCTYPE html>
<html>
  {% include 'header' %}
  <body>
  {% include 'title' %}
    <section class='plot'>
      <a href='/graphics/moisture.png' data-lightbox='m1' data-title='Soil moisture'>
        <img class='moisture' src='/graphics/moisture.png' />
      </a>
    </section>
    <section class='plot'>
      <a href='/graphics/moisture_week.png' data-lightbox='m1' data-title='Soil moisture'>
        <img class='moisture' src='/graphics/moisture_week.png' />
      </a>
    </section>
  {% include 'footer' %}
  </body>
</html>
