<!DOCTYPE html>
<html>
  {% include 'header' %}
  <body>
  {% include 'title' %}
  <section class='week'>
    <h4>Week N°{{ week }}</h4>
  </section>
  <section class='plot left'>
    <a href='/graphics/moisture.png' data-lightbox='m1' data-title='Soil moisture'>
      <img class='moisture' src='/graphics/moisture.png' />
    </a>
  </section>
  <section class='plot right'>
    <a href='/graphics/moisture_week.png' data-lightbox='m1' data-title='Soil moisture'>
      <img class='moisture' src='/graphics/moisture_week.png' />
    </a>
  </section>
  {% include 'footer' %}
  </body>
</html>
