<!DOCTYPE html>
<html>
  {% include 'header' %}
  <body>
  {% include 'title' %}
    <section class='plot'>
      <img class='moisture' src='/moisture.png' />
    </section>
    <section class='plot'>
      <img class='moisture' src='/moisture_week.png' />
    </section>
  </body>
</html>
