<!DOCTYPE html>
<html>
  {% include 'header' %}
  <body>
  {% include 'title' %}
  <section class='current reload'>
    <button id='reload' class='reload'>Reload</button>
  </section>
  <textarea id='logbar'>{{ lines }}</textarea>
  <script src='/javascripts/reload.js' type='text/javascript'></script>
  </body>
</html>
