<!DOCTYPE html>
<html>
  {% include 'header' %}
  <body>
    {% include 'title' %}
    <section class='plot'>
      <img class='temperature' src='/temperature.png' />
    </section>
    <section class='plot'>
      <img class='temperature' src='/temperature_week.png' />
    </section>
  </body>
</html>
