<!DOCTYPE html>
<html>
  {% include 'header' %}
  <body>
  {% include 'title' %}
    <section class='plot'>
      <a href='/temperature.png' data-lightbox='t1' data-title='Temperature'>
        <img class='temperature' src='/temperature.png' />
      </a>
    </section>
    <section class='plot'>
      <a href='/temperature_week.png' data-lightbox='t1' data-title='Temperature'>
        <img class='temperature' src='/temperature_week.png' />
      </a>
    </section>
  {% include 'footer' %}
  </body>
</html>
