<section class='current reload'>
  <button id='reload' class='reload'>Reload</button>
</section>
<textarea id='logbar'>{{ lines }}</textarea>
<script src='/javascripts/main.js' type='text/javascript'></script>

