<nav>
 <a href='/'>Overview</a>
 <a href='/temperature'>Temperature</a>
 <a href='/humidity'>Humidity</a>
 <a href='/moisture'>Moisture</a>
 <a href='/light'>Light</a>
 <a href='/raw'>Data</a>
 <a href='/help'>Help</a>
</nav>
